---
import config from "@/config/config.json";
import HotDocIcon from "@/layouts/components/HotDocIcon.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";

const {
  title,
  subtitle,
  content,
  button: { label, link },
  enable,
} = config.call_to_action;
---

<slot>
  {
    enable && (
      <section class="section">
        <div class="container">
          <div class="cta-panel row items-center justify-center gap-y-8">
            <div class="lg:col-5">
              <div class="section-title text-left" data-aos="fade-up">
                <p
                  set:html={markdownify(subtitle)}
                  class="eyebrow mb-4"
                />
                <h2 set:html={markdownify(title)} class="service-title" />
                <p
                  set:html={markdownify(content)}
                  class="text-[.9rem] text-text"
                />
                <a
                  href={link}
                  class="relative mt-4 inline-flex btn btn-primary items-center gap-3 py-4"
                >
                  <HotDocIcon />
                  <span>{label}</span>
                </a>
              </div>
            </div>
            <div class="lg:col-5">
              <div class="service-visual">
                <Image
                  src="/images/CTA_Book_Appointment.png"
                  height={511}
                  width={494}
                  class="w-full max-w-full object-contain"
                  alt="Book an appointment with the Back Pain Doctor"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
    )
  }
</slot>
