---
import config from "@/config/config.json";
import Circle from "@/layouts/components/Circle.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";

const {
  title,
  content,
  button: { label, link },
  enable,
} = config.call_to_action;
---

<slot>
  {
    enable && (
      <section>
        <div class="container px-4 md:px-8 relative">
          <div class="row items-center justify-center py-8">
            <div class="lg:col-5">
              <div class="section-title text-left" data-aos="fade-up">
                <p
                  set:html={markdownify(title)}
                  class="mb-4 text-[0.9rem] uppercase"
                />
                <h2 set:html={markdownify(title)} class="service-title" />
                <p
                  set:html={markdownify(content)}
                  class="text-[.9rem] text-text"
                />
                <a href={link} class="relative mt-4 btn btn-primary py-6">
                  <svg class="w-12 h-12 absolute l-0 pr-2 -mt-2 border-r border-white/30" width="414" height="390" viewBox="0 0 414 390" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M75.6 388H55.4V349.5H20.2V388H0V296.8H20.2V334.9H55.4V296.8H75.6V388Z" fill="#E6E6E5"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M117.4 322.1C122.1 322.1 126.3 322.9 130.2 324.4C134 325.9 137.3 328.2 140.1 331C142.9 333.9 145 337.4 146.5 341.5C148 345.6 148.8 350.2 148.8 355.4C148.8 360.6 148 365.2 146.5 369.4C145 373.5 142.8 377.1 140.1 380C137.3 382.9 134 385.1 130.2 386.7C126.4 388.3 122.1 389 117.4 389C112.7 389 108.4 388.2 104.5 386.7C100.6 385.1 97.2999 382.9 94.4999 380C91.6999 377.1 89.4999 373.6 87.9999 369.4C86.4999 365.2 85.7 360.6 85.7 355.4C85.7 350.3 86.4999 345.7 87.9999 341.5C89.4999 337.4 91.6999 333.9 94.4999 331C97.2999 328.1 100.6 325.9 104.5 324.4C108.4 322.9 112.6 322.1 117.4 322.1ZM117.4 374.6C121.6 374.6 124.8 373 126.8 369.9C128.8 366.7 129.8 362 129.8 355.5C129.8 349.1 128.8 344.3 126.8 341.2C124.8 338.1 121.7 336.5 117.4 336.5C113 336.5 109.9 338.1 107.8 341.2C105.7 344.3 104.8 349.1 104.8 355.5C104.8 361.9 105.8 366.7 107.8 369.9C109.8 373.1 113 374.6 117.4 374.6Z" fill="#E6E6E5"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M180.5 389C177.6 389 175 388.6 172.7 387.7C170.5 386.8 168.6 385.5 167.1 383.9C165.6 382.3 164.4 380.3 163.6 377.9C162.8 375.6 162.4 373 162.4 370.1V336.5H157.2C156.2 336.5 155.4 336.2 154.8 335.5C154.1 334.9 153.8 333.9 153.8 332.7V325.1L163.6 323.1L167.2 307.3C167.7 305.3 169 304.3 171.2 304.3H180.8V323.3H195.8V336.5H180.8V368.7C180.8 370.2 181.1 371.4 181.8 372.4C182.5 373.4 183.5 373.9 184.8 373.9C185.5 373.9 186 373.8 186.5 373.7C187 373.6 187.4 373.4 187.7 373.2C188 373 188.4 372.8 188.7 372.7C189 372.6 189.3 372.5 189.7 372.5C190.3 372.5 190.7 372.6 191 372.9C191.3 373.2 191.7 373.6 192 374.2L197.6 383.4C195.2 385.3 192.5 386.7 189.6 387.6C186.7 388.6 183.7 389 180.5 389Z" fill="#E6E6E5"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M285 342.4C285 349 283.9 355.1 281.8 360.6C279.6 366.2 276.6 371 272.7 375.1C268.8 379.2 264.1 382.3 258.5 384.6C253 386.9 246.8 388 240.1 388H206.5V296.8H240.1C246.8 296.8 253 297.9 258.5 300.2C264 302.5 268.8 305.7 272.7 309.7C276.6 313.7 279.7 318.6 281.8 324.1C283.9 329.8 285 335.9 285 342.4ZM264.4 342.4C264.4 337.9 263.8 333.8 262.7 330.2C261.6 326.6 260 323.5 257.9 321C255.8 318.5 253.3 316.5 250.3 315.2C247.3 313.8 243.9 313.2 240 313.2H226.6V371.8H240C243.8 371.8 247.3 371.1 250.3 369.8C253.3 368.5 255.9 366.5 257.9 364C260 361.5 261.6 358.4 262.7 354.8C263.8 351.2 264.4 347 264.4 342.4Z" fill="#E6E6E5"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M322.1 322.1C326.8 322.1 331 322.9 334.9 324.4C338.7 325.9 342 328.2 344.8 331C347.6 333.9 349.7 337.4 351.2 341.5C352.7 345.6 353.5 350.2 353.5 355.4C353.5 360.6 352.7 365.2 351.2 369.4C349.7 373.5 347.5 377.1 344.8 380C342 382.9 338.7 385.1 334.9 386.7C331.1 388.3 326.8 389 322.1 389C317.4 389 313.1 388.2 309.2 386.7C305.3 385.1 302 382.9 299.2 380C296.4 377.1 294.2 373.6 292.7 369.4C291.2 365.2 290.4 360.6 290.4 355.4C290.4 350.3 291.2 345.7 292.7 341.5C294.2 337.4 296.4 333.9 299.2 331C302 328.1 305.3 325.9 309.2 324.4C313.1 322.9 317.4 322.1 322.1 322.1ZM322.1 374.6C326.3 374.6 329.5 373 331.5 369.9C333.5 366.7 334.5 362 334.5 355.5C334.5 349.1 333.5 344.3 331.5 341.2C329.5 338.1 326.4 336.5 322.1 336.5C317.7 336.5 314.5 338.1 312.5 341.2C310.5 344.3 309.5 349.1 309.5 355.5C309.5 361.9 310.5 366.7 312.5 369.9C314.5 373.1 317.7 374.6 322.1 374.6Z" fill="#E6E6E5"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M408 338.5C407.4 339.2 406.9 339.8 406.4 340.2C405.9 340.6 405.2 340.8 404.2 340.8C403.3 340.8 402.5 340.6 401.7 340.1C401 339.6 400.1 339.1 399.2 338.6C398.3 338 397.2 337.5 396 337.1C394.8 336.6 393.2 336.4 391.4 336.4C389.1 336.4 387.2 336.8 385.5 337.7C383.9 338.6 382.5 339.8 381.4 341.5C380.3 343.1 379.5 345.1 379 347.5C378.5 349.9 378.2 352.5 378.2 355.5C378.2 361.7 379.3 366.5 381.6 369.8C383.9 373.1 387 374.8 391 374.8C393.1 374.8 394.8 374.5 396.1 374C397.3 373.4 398.4 372.8 399.3 372.1C400.2 371.4 401 370.8 401.7 370.2C402.4 369.6 403.4 369.3 404.5 369.3C406 369.3 407.1 369.9 407.8 371L413.1 377.9C411.2 380.2 409.2 382.1 407.1 383.5C405 384.9 402.8 386.1 400.7 386.9C398.5 387.7 396.3 388.3 394.1 388.6C391.9 388.9 389.7 389.1 387.6 389.1C383.8 389.1 380.2 388.4 376.8 386.8C373.4 385.3 370.4 383.1 367.8 380.3C365.2 377.4 363.1 373.9 361.6 369.8C360.1 365.6 359.3 360.9 359.3 355.5C359.3 350.8 360 346.5 361.3 342.4C362.6 338.3 364.6 334.8 367.2 331.8C369.8 328.8 373 326.5 376.8 324.8C380.6 323.1 385.1 322.2 390.1 322.2C394.9 322.2 399.2 323 402.8 324.6C406.4 326.2 409.7 328.6 412.7 331.7L408 338.5Z" fill="#E6E6E5"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M289.1 36.7L240.5 29L200.7 0L160.9 29.1L112.3 36.8L104.7 85.6L75.7 125.5L104.7 165.4L112.3 214.2L160.9 221.9L200.7 251L240.5 221.9L289.1 214.2L296.7 165.4L325.7 125.5L296.7 85.6L289.1 36.7Z" fill="#E6E6E5"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M270.5 148.5H223.2V195H178.7V148.5H132.3V104H178.7V56.5H223.1V104H270.4V148.5" fill="white"/>
                  </svg>

                  <span class="ml-14">{label}</span>
                </a>
              </div>
            </div>
            <div class="lg:col-5">
              <Image
                src="/images/CTA_Book_Appointment.png"
                height={511}
                width={494}
                class="max-w-full"
                alt="Book an Appointment today"
              />
            </div>
          </div>
          <div class="has-circle has-bg-animate h-full" data-aos="fade-in">
            <Circle classes={"top-[19%] left-[8%] ratio-32"} />
            <Circle classes={"top-[15%] left-[29%] ratio-20"} />
            <Circle classes={"bottom-[20%] left-[35%] ratio-20"} />
            <Circle classes={"bottom-[40%] left-[3%] ratio-20"} />
            <Circle classes={"bottom-[14%] left-[14%] ratio-37"} />
            <Circle classes={"top-[6.25rem] right-[12%] ratio-20"} />
            <Circle classes={"top-[2%] right-[30%] ratio-47"} />
            <Circle classes={"top-[46%] left-[48%] ratio-37"} />

            <svg
              class="text-primary"
              style="opacity:.15"
              width="100%"
              height="100%"
              viewBox="0 0 1401 613"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                d="M2 580C35.1785 462.015 166.359 247.408 425.652 332.866 749.767 439.688 890.318 302.84 946.338 181.583 1002.36 60.3256 1149.41-52.8479 14e2 35.4968"
                stroke="currentcolor"
                stroke-width="4"
                stroke-dasharray="10 10"></path><path
                d="M1398 .999977C1364.87 125.95 1233.88 353.224 974.955 262.722 651.302 149.594 510.953 294.52 455.013 422.935S252.231 671.203 2.00002 577.644"
                stroke="currentcolor"
                stroke-width="4"
                stroke-dasharray="10 10"></path>
            </svg>
          </div>
        </div>
      </section>
    )
  }
</slot>
