---
import { markdownify } from "@/lib/utils/textConverter";
import VideoComponent from "../../jsx-components/VideoComponent";
const {
  video: { title, subtitle, description, thumbnail, video_id },
} = Astro.props;
---

<section class="section">
  <div class="container">
    <div class="service-row row items-center justify-center gap-y-8">
      <div class="lg:col-5">
        <div class="section-title text-left" data-aos="fade-up">
          <p
            set:html={markdownify(subtitle)}
            class="eyebrow mb-4"
          />
          <h2 set:html={markdownify(title)} class="service-title" />
          <p
            set:html={markdownify(description)}
            class="text-[.9rem] text-text"
          />
        </div>
      </div>
      <div class="lg:col-5">
        <VideoComponent
          client:load
          src={thumbnail}
          height={500}
          width={470}
          title={title}
          video_id={video_id}
          video_height="h-[256px]"
          video_width="w-[470px]"
        />
      </div>
    </div>
  </div>
</section>
