---
import PageHeader from "@/components/PageHeader.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getEntry } from "astro:content";

const entry = await getEntry("contact", "book-appointment");
const { contact_form_action } = config.params;
const { email, phone } = config;
const { title, description, meta_title, image, intro } = entry.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <PageHeader title={title} />
  <section class="section">
    <div class="container">
      
      <div class="text-center">

        <div class="mx-auto pb-12 mb-12 max-w-prose border-b">
          { intro }
        </div>

        <div class="mx-auto py-6 max-w-prose">
          <h2 class="text-lg font-bold">Book appointment by phone</h2>
          <p class="text-xl">Milton Village Medical { phone.title } : { phone.contact }</p>
        </div>


        <div class=" w-full py-6 max-w-screen-lg mx-auto">
          <h2 class="text-lg font-bold mb-4">Book online via Hot Doc</h2>
          <iframe id="hotdoc-embed-drjoshhatch" class="bg-white rounded-xl drop-shadow-md h-full lg:h-[900px]" title="Book an Appointment with Dr. Joshua Hatch" width="100%" height="700" src="https://www.hotdoc.com.au/request/appointment/patient?clinic=milton-village-medical&doctor=dr-joshua-hatch-1"></iframe>
        </div>
      </div>

    
    </div>
  </section>

</Base>
